<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Management Admin</title>
    <link rel="icon" href="/img/mini_logo.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- themefy CSS -->
    <link rel="stylesheet" href="/vendors/themefy_icon/themify-icons.css" />
    <!-- select2 CSS -->
    <link rel="stylesheet" href="/vendors/niceselect/css/nice-select.css" />
    <!-- gijgo css -->
    <link rel="stylesheet" href="/vendors/gijgo/gijgo.min.css" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/vendors/font_awesome/css/all.min.css" />
    <link rel="stylesheet" href="/vendors/tagsinput/tagsinput.css" />
    <!-- scrollabe  -->
    <link rel="stylesheet" href="/vendors/scroll/scrollable.css" />
    <!-- text editor css -->
    <link rel="stylesheet" href="/vendors/text_editor/summernote-bs4.css" />
    <!-- morris css -->
    <link rel="stylesheet" href="/vendors/morris/morris.css">
    <!-- metarial icon css -->
    <link rel="stylesheet" href="/vendors/material_icon/material-icons.css" />
    <!-- menu css  -->
    <link rel="stylesheet" href="/css/metisMenu.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/colors/default.css" id="colorSkinCSS">
    <!-- booostrap switch  -->
    <link href="/bootstrap-switch/dist/css/component-custom-switch.css" rel="stylesheet">


    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstarp js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- sidebar menu  -->
    <script src="/js/metisMenu.js"></script>
    <!-- waypoints js -->
    <script src="/vendors/count_up/jquery.waypoints.min.js"></script>
    <!-- counterup js -->
    <script src="/vendors/count_up/jquery.counterup.min.js"></script>
    <!-- nice select -->
    <script src="/vendors/niceselect/js/jquery.nice-select.min.js"></script>
    <!-- progressbar js -->
    <script src="/vendors/progressbar/jquery.barfiller.js"></script>
    <!-- tag input -->
    <script src="/vendors/tagsinput/tagsinput.js"></script>
    <!-- scrollabe  -->
    <script src="/vendors/scroll/perfect-scrollbar.min.js"></script>
    <script src="/vendors/scroll/scrollable-custom.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/nice-select.js"></script>


    <!-- DataTables -->
    <link rel="stylesheet" href="/vendors/datatable/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="/vendors/datatable/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="/vendors/datatable/css/buttons.dataTables.min.css" />

    <!-- DataTables Script -->
    <!-- responsive table -->
    <script src="/vendors/datatable/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/datatable/js/dataTables.responsive.min.js"></script>
    <script src="/vendors/datatable/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/datatable/js/buttons.flash.min.js"></script>
    <script src="/vendors/datatable/js/jszip.min.js"></script>
    <script src="/vendors/datatable/js/pdfmake.min.js"></script>
    <script src="/vendors/datatable/js/vfs_fonts.js"></script>
    <script src="/vendors/datatable/js/buttons.html5.min.js"></script>
    <script src="/vendors/datatable/js/buttons.print.min.js"></script>

    <!-- Custom Css -->
    <link rel="stylesheet" href="/custom.css" />
    <link rel="stylesheet" href="/cute-alert-master/style.css" />
    <script src="/cute-alert-master/cute-alert.js"></script>
    <link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>
    <script src='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/helpers.js"></script>

</head>

<body class="crm_body_bg">



    <!-- main content part here -->

    <!-- sidebar  -->
    <nav class="sidebar">
        <div class="logo d-flex justify-content-between">
            <a class="large_logo" href="/"><img src="/img/logo.png" alt=""></a>
            <a class="small_logo" href="/"><img src="/img/mini_logo.png" alt=""></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu">
            <% if(session.admin) { %>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="img/menu-icon/4.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Admins</span>
                    </div>
                </a>
                <ul>
                    <li><a href="/admin/user-manager">User Manager</a></li>
                </ul>
            </li>
            <% } %>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="true">
                    <div class="nav_icon_small">
                        <img src="/img/menu-icon/2.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Application </span>
                    </div>
                </a>
                <ul>
                    <li><a href="/logic-1">Logic Chờ Cầu</a></li>
                    <li><a href="/logic-2">Logic Gấp Thếp</a></li>
                    <li><a href="/logic-3">Logic Về Đâu Đánh Đó</a></li>
                </ul>
            </li>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="/img/menu-icon/5.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Users</span>
                    </div>
                </a>
                <ul class="mm-collapse" style="height: 5px;">
                    <li><a href="/recharge">Nạp Tiền</a></li>
                    <li><a href="/logout">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--/ sidebar  -->


    <section class="main_content dashboard_part large_header_bg">
        <!-- menu  -->
        <div class="container-fluid no-gutters">
            <div class="row">
                <div class="col-lg-12 p-0 ">
                    <div class="header_iner d-flex justify-content-between align-items-center">
                        <div class="sidebar_icon d-lg-none">
                            <i class="ti-menu"></i>
                        </div>
                        <div class="line_icon open_miniSide d-none d-lg-block">
                            <img src="/img/line_img.png" alt="">
                        </div>
                        <div class="header_right d-flex justify-content-between align-items-center">
                            <div class="profile_info">
                                <img src="/img/client_img.png" alt="#">
                                <div class="profile_info_iner">
                                    <div class="profile_author_name">
                                        <p>UID: #<%= session.UID %></p>
                                        <p>VND: <%= session.money %> VND</p>
                                        <h5><%= session.username.toUpperCase() %></h5>
                                    </div>
                                    <div class="profile_info_details">
                                        <a href="#">Trang cá nhân</a>
                                        <a href="#">Cài Đặt</a>
                                        <a href="/logout">Đăng Xuất </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ menu  -->
        <div class="main_content_iner overly_inner ">
            <div class="container-fluid p-0 ">